<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.password">kc28ma10cw18</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://DESKTOP-14DG3R3\\SQLEXPRESS:1433;databaseName=hospitalDH</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
    </session-factory>
</hibernate-configuration>
